<div class="row">
    <div class="col-xs-12 col-md-6">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class='form-control'>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class='form-control'>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <button class="btn btn-primary">Sign Up</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>